<?xml version="1.0" encoding="UTF-8"?>
<dbp_etl>
 <database>
  <host>127.0.0.1</host>
  <user>root</user>
  <db_name>test_dbp</db_name>
  <port>3306</port>
 </database>
 <s3>		
  <bucket>test_dbp_etl</bucket>
  <vid_bucket>test_dbp_vid_etl</vid_bucket>
  <aws_profile>dbp-prod</aws_profile> <!-- what is this? -->
 </s3>
 <permissions>
  <access_restricted>7</access_restricted>
  <access_granted>9</access_granted>
  <access_video>4</access_video>
 </permissions>
 <directory>
  <etl_model_xml>input/ETL_Model.xml</etl_model_xml>
  <lpts_xml>input/qry_dbp4_Regular_and_NonDrama_10rec.xml</lpts_xml>
  <validate>$HOME/FCBH/files/validate</validate>
  <upload>$HOME/FCBH/files/upload</upload>
  <database>$HOME/FCBH/files/database</database>
  <complete>$HOME/FCBH/files/completed</complete>
  <sql_output>output/output.sql</sql_output>
 </directory>
</dbp_etl>
