<?xml version="1.0" encoding="UTF-8"?>
<dbp_etl>
 <database>
  <host>127.0.0.1</host>
  <user>root</user>
  <db_name>test_dbp</db_name>
  <port>3306</port>
 </database>
 <s3>
  <bucket>dbp-prod</bucket>
  <vid_bucket>dbp-vid</vid_bucket>
  <aws_profile>Gary</aws_profile>
 </s3>
 <permissions>
  <access_restricted>7</access_restricted>
  <access_granted>9</access_granted>
  <access_video>4</access_video>
 </permissions>
 <directory>
  <etl_model_xml>input/ETL_Model.xml</etl_model_xml>
  <lpts_xml>../input/qry_dbp4_Regular_and_NonDrama.xml</lpts_xml> <!-- use this -->
  <validate>/Users/garygriswold/FCBH/files/validate</validate>
  <upload>/Users/garygriswold/FCBH/files/upload</upload>
  <database>/Users/garygriswold/FCBH/files/database</database>
  <complete>/Users/garygriswold/FCBH/files/completed</complete>
  <sql_output>output/output.sql</sql_output>
 </directory>
</dbp_etl>
