<?xml version="1.0" encoding="UTF-8"?>
<dbp_etl>
 <database>
  <host>127.0.0.1</host>
  <user>api_node_dbp</user>
  <input_db_name>dev_190614</input_db_name>
  <output_db_name>valid_dbp</output_db_name>
  <port>3320</port>
 </database>
 <s3>
  <bucket>dbp-prod</bucket>
  <vid_bucket>dbp-vid</vid_bucket>
  <aws_profile>Gary</aws_profile>
  <!-- <aws_profile>FCBH_BibleApp</aws_profile> -->
</s3>
 <directory>
  <lpts_xml>../input/qry_dbp4_Regular_and_NonDrama.xml</lpts_xml>
  <bucket_list>/Users/garygriswold/FCBH/bucket_data/%s.txt</bucket_list>
  <sql_output>output/output.sql</sql_output>
 </directory>
</dbp_etl>
