<?xml version="1.0" encoding="UTF-8"?>
<dbp_etl>
 <database>
  <host>127.0.0.1</host>
  <user>root</user>
  <input_db_name>dbp</input_db_name>
  <output_db_name>valid_dbp</output_db_name>
  <port>3306</port>
 </database>
 <s3>
  <bucket>dbp-prod</bucket>
  <vid_bucket>dbp-vid</vid_bucket>
</s3>
 <directory>
  <lpts_xml>../input/qry_dbp4_Regular_and_NonDrama.xml</lpts_xml>
  <main_bucket>/Users/garygriswold/ShortSands/DBL/FCBH/dbp_prod.txt</main_bucket>
  <sql_output>output/output.sql</sql_output>
 </directory>
</dbp_etl>
